body {

    color: #EEFFDB;
    margin: 0%;
    width: 100%;
}

html,body{
    overflow-x: hidden;
}

.first_section {

    background-image: url(../images/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:50%;
}

@keyframes slideeffect {
    from {
        transform: translateX(600px);
    }
    to {

        transform: translateX(0);
    }
}

@keyframes slidetitleeffect {
    from {
        transform: translateX(-10000px);
    }
    to {

        transform: translateX(0);
    }
}

@keyframes pumpeffect {
    from {
        transform: translateY(100px);
    }
    to {

        transform: translateY(0px);
    }

    
}

@keyframes headereffect {
    from {
        transform: translateY(-500px);
    }
    to {

        transform: translateY(0px);
    }

    
}


.Contact_me {

    animation-name: slideeffect;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;

}

.main_header {
    display: inline-flex;
    padding-bottom: 1%;
    align-items: baseline;
    width: 100%;
    position:fixed;
    background-color: #1e1e1e;
    animation-name: headereffect;
    animation-duration: 1s;
    animation-timing-function:ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;


}

.main_header_title {

    font-size: 3rem;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Bebas Neue';
    letter-spacing: 1.2rem;

}

.main_header_subtitle {

    font-size: 2.3rem;
    padding: 1%;
    margin-left: 8%;
    margin-right: 16%;
    font-family: 'Fahkwang', sans-serif;
    letter-spacing: 8px;
    animation-name: slidetitleeffect;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;


}



.main_header_nav {

    font-style: inherit;
    list-style-type: none;
    flex-direction: row;
    font-size: 1.5rem;
    margin-left: 10%;
    font-style: italic;

}

a {

    text-decoration: none;
    color: #EEFFDB;
}

.main_header_bottom_border {

    border: 0.2px solid #ffffff57;
    font-size: 0.2rem;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.main_header_bottom_border_2 {

    border: 0.2px solid #ffffff57;
    font-size: 0.2rem;
    width: 43%;
    margin-left: 20%;
    margin-right: 5%;

}

.main_container {

    display: flex;
    flex-direction: row;
    padding-top: 5%;
    margin-top: 2%;
    padding-bottom: 0%;
    border-bottom: 1px solid #fff;

}

.work_title {

 width: 50%;
 font-size: 3rem;
 color: #D2B0AE;
}

.main_section {

    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 70%;
}




.main_section_title {

    font-size: 4em;

    text-transform: uppercase;
    font-weight: bold;
    text-decoration: double;
    font-family: 'Fahkwang', sans-serif;
    letter-spacing: 0.3em;
    color: #D2B0AE;

}

.main_section_title2 {

    font-size: 6em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-family: 'Fahkwang', sans-serif;
    animation-name: slidetitleeffect;


}

.main_section_text {

    font-size: 2em;
    margin-top: 5%;
    padding: 3%;
    font-weight: bold;
    font-family: 'Fahkwang', sans-serif;
    text-align: left;
    justify-content: flex-start;
    width: 70%;
    background-color: rgba(86, 82, 81, 0.7);
    word-spacing: 0.2em;
}
.main_section_text_2 {

    font-size: 1.6em;
    margin-top: 5%;
    padding: 3%;
    font-weight: bold;
    font-family: 'Fahkwang', sans-serif;
    text-align: left;
    justify-content: flex-start;
    width: 70%;
    background-color: rgba(86, 82, 81, 0.7);
    word-spacing: 0.2em;
}

.main_section_two {

    width: 30%;
    padding: %;

}

.main_section_two_title {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: double;
    font-family: 'Fahkwang', sans-serif;
    letter-spacing: 0.1em;
    color: #D2B0AE;
    margin-left: 5%;
}

.main_section_two_title_2 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: double;
    font-family: 'Fahkwang', sans-serif;
    letter-spacing: 0.3em;
    margin:5%;
    margin-left: 5%;
    color: #EEFFDB;
}

.skill_set {

    text-decoration: none;
    list-style-type: none;
    padding: 1%;
    color: #EEFFDB;
    font-size: 1.2em;

}

.work_image {

    width: 80%;
    object-fit: cover;
    border: 2px solid #EEFFDB  ;   
    border-radius: 10%;
}
.work_image:hover {

    width: 82%;
    object-fit: cover;
    border: 2px solid #EEFFDB  ;   
    border-radius: 10%;
}

.work_exemples {

    display: flex;
    flex-direction: row;
    margin-bottom: 0% ;
    width: auto;
}
.work_box {

    padding: 2%;
    margin-top: 2%;
    margin-left: 2%;
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.work_box3 {

    padding: 2%;
    margin-top: 2%;
    margin-left: 2%;
    width: 350px;
    height: 350px;

}

.Contact_me {

    font-size: 1.5em;
    padding: 5%;
    font-family: 'Fahkwang', sans-serif;
    font-weight: bold;
    border: 1px solid #EEFFDB;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    margin-right: 60%;
    transition: color 2s ease-out 2s
}

.Contact_me,
a:hover {

    transition-duration: 500ms;
    color: #D2B0AE;
    border-radius: ;

}

.main_header_bottom_border_three {

    border: 0.2px solid #ffffff57;
    font-size: 0.2rem;
    margin-top: 5%;
    width: 100%;

}

.second_section {

    background-image: url(../images/background5.jpg);
    display: flex;
    padding: 1%;
    padding-bottom: 5%;
    background-repeat: no-repeat;
    background-image: cover;
}

.second_container {

    display: flex;
    flex-direction: row;
    color: #EEFFDB;
    margin-top: 5%;

}

.main_section_second_container {

    padding: 2%;
    margin-top: 3%;
    width: 70%
}

.photo {

    width: 50%;
    border: 3px solid #D2B0AE;
    object-fit: contain;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 30%;
    border-style: groove;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

}

.social_media {

    animation-name: pumpeffect;
    animation-duration: 1s;
    animation-timing-function:ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.main_section_second_container_right {}


.footer {

    display:flex;
    background-color:black;
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
    position:relative;

}

.image_twitter {
    display:flex;
    width: 50px;
    height: 50px;
    justify-content: space-between;
    margin-right: 20%;
    position:absolute;
    top: 30%;
    bottom: 50%;
    animation-name: pumpeffect;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;

}

.image_twitter:hover {
    display:flex;
    width: 55px;
    height: 55px;
    justify-content: space-between;
    margin-right: 20%;
    position:absolute;
    top: 30%;
    bottom: 50%;
    animation-name: pumpeffect;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;

}

.button_connect {

    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 0%;
    width: 70%;
    align-items:center;
    justify-content: center;

}

.connect {
    font-size: 1.5em;
    display: flex;
    font-weight: bold;
    font-family: 'Fahkwang', sans-serif;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;


}

@media (max-width: 768px) {

body {

    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}    
    
.main_container {

    display:block;
    width: 100%;
    font-size: 80%;
    
}
.main_header {
    position:relative;
    display:block;
    align-items: left;
    padding: 2%;
    
    
   
}
.main_header_title {


}

.first_section {


    display:block; 
    flex-direction: column;
    width: 100%;
    font-size: 70%;
    


}
.main_section_two {
    width: 70%;
    padding: 1%;
    margin-left: 30%;
}

.Contact_me {

    margin: 5%;
    padding:6%;
    width: 35%;
}

.main_header_bottom_border {

    width: 100%;
    margin:0%;
}
.main_section {

    display:block;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    
}
.connect_together {

    font-size: 1.5em;
}

.main_section_title {

    width: 100%;
    flex-wrap: wrap;
}

.main_section_title2 {

    width: 80%;
    font-size: 3rem;
}
.main_header_title {

    align-items: center;

}
.main_section_text_2 {

    width:80%;
    margin-left: 60%;
}

.main_header_nav {

    display:inline;
    width: 50%;
    margin: 2%;
}


.second_section {

    display:block;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}

.second_container {

    display:block;
    flex-direction: column;
    font-size: 90%;
    align-items: center;
}
.main_section_second_container_right {

    margin:0%;
}

.photo {

    width: 50%;;
    margin-left: 25%;
    margin-bottom: 5%;
    animation-name: slideeffect;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: backwards;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);


}

.main_section_second_container {

    font-size: 90%;
    margin-right: 0%;
}

.footer {

    width:100%;
    display:flex;
    padding: 1%;
    font-size: 1em;


}

.image_twitter {
    position:relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15%;
    justify-content: baseline;
}
.button_connect {

    margin: 0%;
    width: 30%;
    justify-content: baseline;
    margin-bottom: 5%;
}
.main_section_title {

 font-size: 5em;

}

.main_section_title {

}

.main_section_text_2 {

    margin-left: 15%;
}

.work_exemples {

    display:inline;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.work_box {

    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 5%;
    height: 100%;
    width: 70%;
}
}


